<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Nosotros</title>
</head>

<body>
    <header>
        <p class="headtext">Diseño <span style="color: rgb(24, 147, 212);">Multimedia</span></p>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="Servicios.html">SERVICIOS</a></li>
                <li><a href="Contacto.html">CONTACTOS</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <section class="cabecera">
            <h2>Suscríbete a nuestro boletín</h2>
            <form>
                <input type="text" placeholder="Ingrese el Email..." class="inpt">
                <button class="btn">Suscribete</button>
            </form>
        </section>
        <section class="content">
            <article class="nosotros">
                <h2>Nosotros</h2>
                <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores aut quas quisquam
                    illum eos deserunt est vel, odio veniam. Ex pariatur consequatur error quisquam vitae minus, commodi
                    quidem rem necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, beatae!
                    Earum reiciendis, odit, consequuntur voluptates perspiciatis nisi in tempore perferendis cupiditate,
                    laboriosam iure atque iste dolorem modi. Repudiandae, nesciunt mollitia.</p>
            </article>

            <div class="texto">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut ab odit ipsam quaerat dolor atque
                    obcaecati
                    doloremque iusto eos aliquid. Libero illum, magni totam pariatur natus iste dicta delectus unde.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis in deserunt dolorem eligendi
                    inventore hic. Maxime corporis voluptatum rem consectetur ex beatae debitis. Vel quia totam expedita
                    quis aliquam. Vero.</p>
            </div>
            <img src="../assets/891.jpg" alt="cafecito" class="cafecito">
        </section>
        <aside>
            <h2 class="que">Que Hacemos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint velit sed, dolores modi
                ab provident voluptatum obcaecati harum repudiandae architecto magnam laboriosam aspernatur? Sit,
                harum! Dicta recusandae illo reiciendis.</p>
        </aside>
    </main>
    <footer>
        Graphel Desarrollo Web, Copyright &copy;2024
    </footer>
</body>

</html>