* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    background-color: rgb(36, 40, 43);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    border: 5px solid rgb(18, 147, 212);
    border-top-width: 0;
    border-right: 0;
    border-left: 0;
    padding: 40px;
}


header ul, a {
    text-decoration: none;
    list-style: none;
    display: flex;
    font-size: 20px;
    color: white;
}

li {
    margin-left: 20px;
    margin-right: 20px;
}

.headtext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.contenido{
    text-align: center;
    background-image: url(../assets/cabecera.jpg);
    background-position-y: -400px;
    padding: 110px 195px ;
    padding-bottom: 170px;
}
.principal{
    font-size: 53px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: white;
    font-size: 23px;
}

.cabecera{
    display: flex;
    color: white;
    background-color: rgb(36, 40, 43);
    align-items: center;
    justify-content: space-evenly;
    height: 93px;
}
.btn{
    background-color: rgb(232, 73, 29);
    color: white;
    font-size: 14px;
    height: 41px;
    width: 113px;
}
.inpt{
    height: 28px;
}

.programas{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;

}
.contenedor{
    width: 80%;
    overflow: hidden;
    margin: auto;
}

.programa1, .programa2, .programa3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;
}
h3{
    justify-content: center;
    color: black;
    display: flex;
    font-size: 14px;
}
.parrafo1, .parrafo2, .parrafo3{
    color: black;
    font-size: 15px;
    text-align: center;
}
.html, .css, .brush{
    margin-top: 30px;
    width: 80px;
    height: 90px;
}
footer{
    color: white;
    background-color: rgb(18, 147, 212);
    padding: 32px;
    font-size: 13px;
    text-align: center;
}
.text{
    color: black;
    padding-top: 25px;
}
.content{
    width: 70%;
    margin-left:  135px;
}
.nosotros{
    padding-top: 20px;
    width: 72.3%;
}
.texto{
    margin-top: 18px;
    background-color: rgb(53, 66, 74);
    width: 70%;
    padding: 16px;
}
.cafecito{
    margin-top: 10px;
    margin-bottom: 25px;
    width: 72.3%;
}
aside{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(53, 66, 74);
    width: 32%;
    padding: 35px 30px 30px 16px;
    float: right;
    margin: 0px;
}
.que{
    margin-bottom: 22px;
}